/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-family: "Soleil", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.welcome-header {
    display: flex;
    justify-content: space-between;

    /* padding-left: 23.1rem;
    padding-right: 33.3rem;
    padding-top: 0.5rem; */


}

#the-link-on-bottom-of-form {
    margin-left: 4px;

}

.main-logo {
    display: flex;
    font-family: soleil;
    column-gap: 4px;
}

.main-title {
    font-size: 2rem;
    position: relative;
    bottom: 1rem;
    font-weight: bold;
}

.welcome-body {
    padding-top: 60px;
}

.phase-one {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.first-sent {
    font-size: 56px;
    font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
    line-height: 150%
}

.second-sent {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%
}

.login-form-link {
    text-decoration: none;
    color: inherit;
    padding-top: 1rem
}

.signup-form-link {
    text-decoration: none;
    color: inherit
}

.form-errors {
    margin-bottom: 5rem;
    size: 1px;
    color: rgb(244, 7, 7)
}

#signup-form-link {

    font-size: 16px;
    padding: 16px 80px;
    background: #00a82d;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1.5px;
    line-height: 1;
    text-align: center;

}

.login-signup-form-container {
    background-image: url("/Users/zackalsiday/Desktop/CleverNote/Freepik.png")
}

.login-signup-form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 511px;
    height: 686px;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
}

.login-signup-form {
    padding: 62.12px 99px 48px;
    /* margin: 0px auto 28px auto; */
}

.form-logo {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1.1rem;
}

.form-title {
    display: flex;
    justify-content: center;
    font-family: "Soleil";
    font-size: 3rem;
    position: relative;
    bottom: 2.5rem;


}

.form-intro {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3rem;
}

.login-signup-input {
    width: 17.5rem;
    position: relative;
    right: 6.6rem;
    height: 1rem;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
    background-color: white;
    padding: 12px 16px;
    outline: none;

}

.password-input {
    width: 17.5rem;
    position: relative;
    right: 6.6rem;
    top: 7px;
    height: 1rem;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
    background-color: white;
    padding: 12px 16px;
    outline: none;

}

.form-inputs {
    position: relative;
    bottom: 8.8rem;
}

.session-submit {
    font-size: 16px;
    padding: 16px 80px;
    background: #00a82d;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1.5px;
    line-height: 1;
    text-align: center;
    border: none;
    position: relative;
    bottom: 5.8rem;
    right: 6.51rem;
    width: 19.5rem;
    font-family: system-ui;
}

.form-toggle {
    display: flex;
    justify-content: center;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: #737373;
    position: relative;
    bottom: 4rem;


}