.header-name{
    margin-left: 19.7rem;
}
html,
body {
    margin: 0;
    padding: 0;

}


.side-nav{
    background-color: #1A1A1A;
    position: absolute;
    bottom: 0rem;
    // min-width: fit-content;
    width: 18.2rem;
    height: 100%;
    margin: 0;
}
.side-nav-content{
    position: relative;
    top: 4.25rem;
}

.side-nav-name{
    font-family: system-ui;
    color: #ccc;
    font-size: 13px;
    position: relative;
    bottom: 3.9rem;
    left: 2.7rem;
    line-height: 19px;
    width: fit-content;

}

.new-button{
    position: relative;
    bottom: 0.4rem;
    left: 0.3rem;
    width: 17.2rem;
    height: 35px;
    border-radius: 20px;
    background-color: #04A72E ;
    color: white;
    font-size: 14px;
    border: none;
    padding-right: 13rem;
}

.home-but{
    display: flex;
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    // background-color: transparent;
    border: none;
    margin: 0;

    height: 2.5em;
    width: 18.2rem;
    position: relative;
    top: 0.6rem;
}
.home-but:hover{
    background-color: #333!important;
}



.home-text{
    margin: auto;
    margin-left: 2px;
    font-size: 14px;
    margin-top: 5px;
    color: #cccccc;
    // background-color: black;
}

.home-link{
        text-decoration: none;
}
.notes-link{
    text-decoration: none;
}

.notes-but{
    display: flex;
    font-size: 14px;
    border: none;
    background-color: transparent;
    position: relative;
    bottom: 0.7rem;
    
    height: 2.5em;
    width: 18.2rem;
    margin: 0;
    padding-left: 0.8rem;
}
.notes-but:hover{
    background-color: #333 !important;
}

.notes-text{
    margin: auto;
    margin-left: 2px;
    position: relative;
    top: 1.5px;
    font-size: 14px;
    color: #cccccc;
}

#notes-logo{
    padding-top: 6px;
}

.notebooks-link{
    text-decoration: none;
}
.notebooks-but{
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;
    // left: 0.4rem;
    bottom: 2rem;
 
    height: 2.5em;
    width: 18.2rem;
    padding-left: 0.8rem;
    padding-top: 6px;
}

.notebooks-but:hover{
       background-color: #333!important;
}

.notebooks-text{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    margin-left: 2px;
    color: #cccccc;
}

.tags-but{
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;
    // left: 0.4rem;
    bottom: 3.3rem;
   
    height: 2.5em;
    width: 18.2rem;
    padding-left: 0.8rem;
    padding-top: 6px;
   
}

.tags-but:hover{
     background-color: #333!important;
}

.tags-text{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    color: #cccccc;
    margin-left: 2px;
}

.logout-but{
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;


    bottom: 4.6rem;
        
        height: 2.5em;
        width: 18.2rem;
        padding-left: 0.8rem;
        padding-top: 6px;
}

.logout-but:hover{
    background-color: #333;
}

.logout-text{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    margin-left: 2px;
    color: #cccccc;
}


