.header-name{
    margin-left: 20.4rem;
    position: relative;
    top: 1.3rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    font-size: 20px;
}
html,
body {
    margin: 0;
    padding: 0;
    // position: fixed;
    height: 1rem;
      background-color: #f2f2f2;
}
.main{
    position: relative;
    bottom: 1.3rem;
    background-position-x: 6.5rem;
    background-position-y: 52.8%;
  
    background-repeat: no-repeat;
    background-size: cover;
    height: 16.4rem;
}
.side-nav-name-logo{
    width: 28px;
    border-radius: 28px;
    position: relative;
    bottom: 1.3rem;
    left: 6px;
}
.side-nav-name{
    height: fit-content;
    width: fit-content;
    margin-left: 0.6rem;
}

.side-nav{
    background-color: #1A1A1A;
    position: absolute;
    top: 0rem;
    // min-width: fit-content;
    width: 18.7rem;
    height: 500%;
    // margin: 0;
}
.side-nav-content{
    position: relative;
    top: 2.2rem;
}

.side-nav-name-text{
    font-family: system-ui;
    color: #ccc;
    font-size: 13px;
    position: relative;
    bottom: 3.9rem;
    left: 2.7rem;
    line-height: 19px;
    width: fit-content;

}

.side-nav-name-text:hover{
    color: #ffffff
}

.new-button{
    position: relative;
    bottom: 0.4rem;
    left: 0.3rem;
    width: 17.2rem;
    height: 35px;
    border-radius: 20px;
    background-color: #04A72E ;
    color: white;
    font-size: 14px;
    border: none;
    padding-right: 13rem;
    transition: .1s;
}
.new-button:hover{
    background-color: #008f26;
}
.home-but{
    display: flex;
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    // background-color: transparent;
    border: none;
    margin: 0;

    height: 2.5em;
    width: 18.7rem;
    position: relative;
    top: 0.6rem;
}
.home-but:hover{
    background-color: #333!important;
}



.home-text{
    margin: auto;
    margin-left: 2px;
    font-size: 14px;
    margin-top: 5px;
    color: #cccccc;
    // background-color: black;
}

.home-link{
        text-decoration: none;
}
.notes-link{
    text-decoration: none;
}

.notes-but{
    display: flex;
    font-size: 14px;
    border: none;
    background-color: transparent;
    position: relative;
    bottom: 0.7rem;
    
    height: 2.5em;
    width: 18.7rem;
    margin: 0;
    padding-left: 0.8rem;
}
.notes-but:hover{
    background-color: #333 !important;
}

.notes-text{
    margin: auto;
    margin-left: 2px;
    position: relative;
    top: 1.5px;
    font-size: 14px;
    color: #cccccc;
}

#notes-logo{
    padding-top: 6px;
}

.notebooks-link{
    text-decoration: none;
}
.notebooks-but{
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;
    // left: 0.4rem;
    bottom: 2rem;
 
    height: 2.5em;
    width: 18.7rem;
    padding-left: 0.8rem;
    padding-top: 6px;
}

.notebooks-but:hover{
       background-color: #333!important;
}

.notebooks-text{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    margin-left: 2px;
    color: #cccccc;
}

.tags-but{
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;
    // left: 0.4rem;
    bottom: 3.3rem;
   
    height: 2.5em;
    width: 18.7rem;
    padding-left: 0.8rem;
    padding-top: 6px;
   
}

.tags-but:hover{
     background-color: #333!important;
}

.tags-text{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    color: #cccccc;
    margin-left: 2px;
}

.logout-but{
    display: flex;
    border: none;
    background-color: transparent;
    position: relative;


    bottom: 4.6rem;
        
        height: 2.5em;
        width: 18.7rem;
        padding-left: 0.8rem;
        padding-top: 6px;
}

.logout-but:hover{
    background-color: #333;
}

.logout-text{
    position: relative;
    bottom: 10px;
    font-size: 14px;
    margin-left: 2px;
    color: #cccccc;
}


