.note-edit-container{
    position: fixed;
    left: 42.7rem;
    background-color: #ffffff ;
    height: 100%;
    width: 100%;

}

.delete-note-but{
    color: white;
    background-color: red;
    border: none;
    height: 2rem;
    width: 4rem;
    letter-spacing: 1px;
    position: relative;
    left: 1rem;
    bottom: 0.6rem;
}

.note-edit-form{
    position: relative;
    top: 2rem
}

.note-title{
    border: none;
    background-color: transparent;
    font-size: 30px;
    outline: none;
    position: relative;
    left: 2.3rem;
    bottom: 25.9rem;
    font-weight: 600;
}

.notebook-options{
    position: relative;
    bottom: 34rem;
    left: 6rem;
}

.chosen-tags li{
    display: inline;
    margin-left: 1rem;
    border: solid;
    background-color: #e6e6e6;
    padding: 3px;
    border-radius: 16px;
}
.delete-tag-but{
    display: none;
}
 .chose-tag-name:hover + .delete-tag-but{
 display: inline;
position: relative;
bottom: 1.8rem;
right: 2rem;
color: white;
background-color: red;
border: none;
 }

