.notes-list-container{
    position: relative;
    bottom: 0.2rem;
    left: 20rem;
    background-color: #f8f8f8;
    width: 22.5em; 
    height: 44em;
    overflow: scroll;
    overflow-x: hidden;
}

.notes-list-header{
    display: flex;
    font-size: 20px;
    letter-spacing: .03em;
    position: relative;
    right: 0.5rem;
    border: solid;
    border-color: #e6e6e6;
    // background-color: #f8f8f8;
    position: relative;
    top: 0.1rem;
    right: 1.5rem;
    bottom: 0.5rem;
    padding-left: 1rem;
    width: 18.4em;
    height: 6.4rem;
}

.notes-list-logo{
    position: relative;
    top: 0.9rem;
}

.note-item{
    background-color: #f8f8f8;
    border-width: thin;
    height: 7.5rem;
    position: relative;
    bottom: 1rem;
    right: 3.8rem;
    border-style: solid;
    border-color: #e6e6e6;
    width: 28.5em;
}




