.tags-container {
    position: fixed;
    z-index: 1;
    left: 18.7rem;
    bottom: 0rem;
    background-color: #ffffff;

    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14902);
    width: 24rem;
    height: 100%;
    overflow: hidden;
}

.tags-container:hover {
    overflow-y: scroll;
}

.tags-header{
    color: #333;
    font-size: 20px;
    margin: 1.5rem;
    position: relative;
    top: 0.5rem;
    border-bottom: solid 2px;
    padding-bottom: 0.6rem;
}

.new-tag-input{
    border:  thin 0.5px #ccc;
    position: relative;
    padding-left: 1rem;
    left: 1.4rem;
    height: 2.2rem;
    width: 19.5rem;
    font-size: 14px;
}