.tags-container {
    position: fixed;
    z-index: 1;
    left: 18.7rem;
    bottom: 0rem;
    background-color: #ffffff;

    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.14902);
    width: 24rem;
    height: 100%;
    overflow: hidden;
}

.tags-container:hover {
    overflow-y: scroll;
}

.tags-header{
    color: #333;
    font-size: 20px;
    margin: 1.5rem;
    position: relative;
    top: 0.5rem;
    border-bottom: solid 2px;
    padding-bottom: 0.6rem;
}

.new-tag-input{
    border:  thin 0.5px #ccc;
    position: relative;
    padding-left: 1rem;
    left: 1.4rem;
    height: 2.2rem;
    width: 19.5rem;
    font-size: 14px;
}

.tags-list-link{
    text-decoration: none;
    color: black;
}

.tags-list-name{
    // background-color: blue;
    width: fit-content;
    height: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 16px ;
    transition: .2s;

}

.tags-list-name:hover{
    background-color: #ccc;

}

.tags-list{
    display: flex;
    justify-content: space-between;
    // padding-right: 3rem;
}

.tag-list-delete-but{
    border: none;
    background-color: transparent;
}

.tag-list-delete-but:hover{
    border-radius: 15px;
    background-color: #ccc;
}

.tags-list-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px;
    width: 18rem;
}

.rename-tag-but{
background-color: transparent;
border: solid 1px;
border-color: #ccc;
transition: .2s;
}

.rename-tag-but:hover{
    background-color: #ccc;
    outline: none;
    border: none;
}

.edit-tag-form{
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
}

.rename-tag-input{
    padding-left: 1rem;
    border: solid 1px;
    border-color: #ccc;
}