.welcome-header {
    display: flex;
    justify-content: space-between;
    padding-left: 5.5rem;
 
    // margin-left: 10rem ;
    padding-right: 15.5rem;
    /* padding-left: 23.1rem;
    padding-right: 33.3rem;
    padding-top: 0.5rem; */


}

.main-logo {
    display: flex;
    font-family: soleil;
    column-gap: 4px;
}

.main-title {
    font-size: 2rem;
    position: relative;
    bottom: 1rem;
    font-weight: bold;
}

.welcome-body {
    padding-top: 60px;
}

.phase-one {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.first-sent {
    font-size: 56px;
    font-family: "Soleil_Medium", Helvetica, Arial, sans-serif;
    line-height: 150%
}

.second-sent {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
     width: 65rem;
    letter-spacing: 1px;
    margin: auto;
    text-align: center;
   
    font-family: "Soleil", Helvetica, Arial, sans-serif;
}


.login-form-link {
    text-decoration: none;
    color: #000;
    padding-top: 1rem;
    transition: .1s;
}

.login-form-link:hover{
    color: #00a82d
}

.signup-form-link {
    text-decoration: none;
    color: inherit
}

#signup-form-link {

    font-size: 16px;
    padding: 16px 80px;
    background: #00a82d;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    letter-spacing: 1.5px;
    line-height: 1;
    text-align: center;
    transition: .3s;
}

#signup-form-link:hover {
    background: rgb(49, 190, 86);
}

.link-to-login-form{
    color:#000;
    transition: .1s
}

.link-to-login-form:hover {
    color: #00a82d
}

